html {
    background-color: #2B3E50;
}

.App {
    text-align: center;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #5995DA;
    height: 80px;
}

.header h1 {
    color: #26AE5F;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5em;
    margin-bottom: 0;
}

.header h2 {
    color: rgb(177, 90, 19);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    margin-top: 0;
}

.content {
    height: 5em;
}

.content a {
    color: white;
}

.content p {
    color: white;
}

.ul-no-style ul {
    list-style: none;
    color: #95A5A5;
    padding-left: 0;
}

.error-message {
    color: red !important;
}

.login-form {
    width: 80%;
    display: inline-block;
}

.login-form input {
    width: 80%;
    background: black;
    border: none;
    color: white;
    border-radius: 1em;
    padding: 1.5em;
    text-align: center;
    margin: .3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.login-form input[type=submit] {
    width: 7em;
    background-color: #26AE5F;
    border: none;
    color: white;
    cursor: pointer;
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }

/* .feature-1 {
    background-color: #F5CF8E;
}

.feature-2 {
    background-color: #F09A9D;
}

.feature-3 {
    background-color: #C8C6FA;
} */
  
/* Mobile Styles */
@media only screen and (max-width: 400px) {
    /*useful for testing*/
    /* body {
        background-color: red; 
    } */
}
  
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    /*useful for testing*/
    /* body {
        background-color: green;
    } */

    /* .sign-up,
    .feature-1,
    .feature-2,
    .feature-3 {
    width: 50%;
  } */
}
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    /*useful for testing*/
    /* body {
        background-color: blue;
    } */

    .App {
        width: 960px;
        margin: 0 auto;
     }
     /*
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 33.3%;
    } */
}